# simple imputer class

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/home/catpc/Downloads/8_df.csv')

In [3]:
df.head()

   Unnamed: 0    A    B    C    D
0           0  1.0  NaN  1.0  1.0
1           1  2.0  2.0  2.0  2.0
2           2  3.0  3.0  NaN  3.0
3           3  NaN  2.0  4.0  4.0
4           4  5.0  5.0  5.0  NaN

In [4]:
df.isnull().sum()

Unnamed: 0    0
A             2
B             2
C             2
D             1
dtype: int64

# simple imputer

In [5]:
from sklearn.impute import SimpleImputer

In [6]:
simple_mean = SimpleImputer(strategy='mean')
#simple_meadian = SimpleImputer(strategy='Meadian')
#simple_most_frequent = SimpleImputer(strategy='most_frequent')
#df.fillna(0)

In [7]:
df['A'] = simple_mean.fit_transform(df[['A']])

In [8]:
df.head()

   Unnamed: 0      A    B    C    D
0           0  1.000  NaN  1.0  1.0
1           1  2.000  2.0  2.0  2.0
2           2  3.000  3.0  NaN  3.0
3           3  4.625  2.0  4.0  4.0
4           4  5.000  5.0  5.0  NaN

In [9]:
df['B'] = simple_mean.fit_transform(df[['B']])

In [10]:
df.head()

   Unnamed: 0      A      B    C    D
0           0  1.000  4.125  1.0  1.0
1           1  2.000  2.000  2.0  2.0
2           2  3.000  3.000  NaN  3.0
3           3  4.625  2.000  4.0  4.0
4           4  5.000  5.000  5.0  NaN

In [11]:
df['C'] = simple_mean.fit_transform(df[['C']])

In [12]:
df.head()

   Unnamed: 0      A      B    C    D
0           0  1.000  4.125  1.0  1.0
1           1  2.000  2.000  2.0  2.0
2           2  3.000  3.000  4.0  3.0
3           3  4.625  2.000  4.0  4.0
4           4  5.000  5.000  5.0  NaN

In [13]:
df['D'] = simple_mean.fit_transform(df[['D']])

In [14]:
df

   Unnamed: 0      A      B    C          D
0           0  1.000  4.125  1.0   1.000000
1           1  2.000  2.000  2.0   2.000000
2           2  3.000  3.000  4.0   3.000000
3           3  4.625  2.000  4.0   4.000000
4           4  5.000  5.000  5.0   5.555556
5           5  6.000  6.000  4.0   6.000000
6           6  3.000  3.000  3.0   7.000000
7           7  4.625  3.000  4.0   8.000000
8           8  8.000  4.125  4.0   9.000000
9           9  9.000  9.000  9.0  10.000000