# 1 . Import Pandas and Read the csv file

In [2]:
import pandas as pd

df = pd.read_csv('/home/catpc/Downloads/Cust_Purch_FakeData - Cust_Purch_FakeData.csv')

In [3]:
df.head()

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
0,Dr.,Ray,Morton,sebvajom@kol.km,Male,38,Medtronic Inc.,Health Therapist,(987) 619-2695,B6V 3W3,MB,5.020000e+15,05/2018,Solo,8.36,Blue,126.23.139.2,Sunday,pm,04/05/1930
1,Miss,Claudia,Rodriquez,acu@jatsot.ug,Female,51,"Ames Department Stores, Inc.",Health Therapist,(356) 736-7352,G7M 5F3,SK,5.020000e+15,07/2028,Visa,68.31,Black,106.198.76.211,Tuesday,am,12/20/1926
2,Miss,Harry,Meyer,zuz@lo.wf,Female,51,CSX Corp.,Political Scientist,(539) 246-1806,A0Z 6P9,NS,6.300000e+15,02/2023,Switch,34.65,Black,186.150.187.29,Wednesday,pm,08/20/1931
3,Miss,Edith,Gilbert,hansohsi@jupec.md,Female,55,Murphy Oil Corporation,Transportation Manager,(984) 962-7494,P9I 9H3,YT,3.530000e+15,02/2028,Maestro,64.59,White,80.140.57.161,Saturday,am,06/18/2001
4,Dr.,Lura,Murphy,webediti@je.st,Female,20,PETsMART Inc,Statistician,(902) 568-9748,S1A 6K0,ON,4.030000e+15,10/2025,Diners Club International,20.83,Yellow,211.103.43.41,Friday,pm,06/14/2045

# 3. How many entries your data have? Can you tell the no. of columns in your data?

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 20 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   prefix      30000 non-null  object
 1   first       30000 non-null  object
 2   last        30000 non-null  object
 3   email       30000 non-null  object
 4   gender      30000 non-null  object
 5   age         30000 non-null  int64
 6   company     30000 non-null  object
 7   profession  30000 non-null  object
 8   phone       30000 non-null  object
 9   postal      30000 non-null  object
 10  province    30000 non-null  object
 11  cc_no       30000 non-null  float64
 12  cc_exp      30000 non-null  object
 13  cc_type     30000 non-null  object
 14  price(CAD)  30000 non-null  float64
 15  fav_color   30000 non-null  object
 16  ip          30000 non-null  object
 17  weekday     30000 non-null  object
 18  ampm        30000 non-null  object
 19  date        30000 non-null  object
dtypes: float64(2), int64(1), object(17)
memory usage: 4.6+ MB

# 4. what are the max and min ages of your customer? Can you find mean of our customer?

In [6]:
df['age'].max()

65

In [7]:
df['age'].min()

18

In [8]:
df['age'].mean()

41.550066666666666

# 5. What are the most common customers names?

In [11]:
df['first'].value_counts().head(1)

first
Willie    130
Name: count, dtype: int64

# 6. Two customers have the same phone number, can you find those customers?

In [15]:
df.head()

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
0,Dr.,Ray,Morton,sebvajom@kol.km,Male,38,Medtronic Inc.,Health Therapist,(987) 619-2695,B6V 3W3,MB,5.020000e+15,05/2018,Solo,8.36,Blue,126.23.139.2,Sunday,pm,04/05/1930
1,Miss,Claudia,Rodriquez,acu@jatsot.ug,Female,51,"Ames Department Stores, Inc.",Health Therapist,(356) 736-7352,G7M 5F3,SK,5.020000e+15,07/2028,Visa,68.31,Black,106.198.76.211,Tuesday,am,12/20/1926
2,Miss,Harry,Meyer,zuz@lo.wf,Female,51,CSX Corp.,Political Scientist,(539) 246-1806,A0Z 6P9,NS,6.300000e+15,02/2023,Switch,34.65,Black,186.150.187.29,Wednesday,pm,08/20/1931
3,Miss,Edith,Gilbert,hansohsi@jupec.md,Female,55,Murphy Oil Corporation,Transportation Manager,(984) 962-7494,P9I 9H3,YT,3.530000e+15,02/2028,Maestro,64.59,White,80.140.57.161,Saturday,am,06/18/2001
4,Dr.,Lura,Murphy,webediti@je.st,Female,20,PETsMART Inc,Statistician,(902) 568-9748,S1A 6K0,ON,4.030000e+15,10/2025,Diners Club International,20.83,Yellow,211.103.43.41,Friday,pm,06/14/2045

In [18]:
df['phone']

0        (987) 619-2695
1        (356) 736-7352
2        (539) 246-1806
3        (984) 962-7494
4        (902) 568-9748
              ...
29995    (873) 298-1178
29996    (541) 904-3323
29997    (375) 931-8605
29998    (786) 481-9627
29999    (841) 962-4087
Name: phone, Length: 30000, dtype: object

In [47]:
pcnt = df['phone'].value_counts()
pcnt = pcnt[pcnt > 1]
pcnt

phone
(263) 382-8004    2
Name: count, dtype: int64

In [50]:
df[df['phone']=="(263) 382-8004"][['first']]

    first
15  Lilly
16  Peter

In [56]:
print(df.iloc[15][['phone']])
print("\n")
df.iloc[16][['phone']]

phone    (263) 382-8004
Name: 15, dtype: object

phone    (263) 382-8004
Name: 16, dtype: object

# 7.How many customers have profession "Structural Engineer"

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 20 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   prefix      30000 non-null  object
 1   first       30000 non-null  object
 2   last        30000 non-null  object
 3   email       30000 non-null  object
 4   gender      30000 non-null  object
 5   age         30000 non-null  int64
 6   company     30000 non-null  object
 7   profession  30000 non-null  object
 8   phone       30000 non-null  object
 9   postal      30000 non-null  object
 10  province    30000 non-null  object
 11  cc_no       30000 non-null  float64
 12  cc_exp      30000 non-null  object
 13  cc_type     30000 non-null  object
 14  price(CAD)  30000 non-null  float64
 15  fav_color   30000 non-null  object
 16  ip          30000 non-null  object
 17  weekday     30000 non-null  object
 18  ampm        30000 non-null  object
 19  date        30000 non-null  object
dtypes: float64(2), int64(1), object(17)
memory usage: 4.6+ MB

In [66]:
df[df['profession']=='Structural Engineer'].count()

prefix        87
first         87
last          87
email         87
gender        87
age           87
company       87
profession    87
phone         87
postal        87
province      87
cc_no         87
cc_exp        87
cc_type       87
price(CAD)    87
fav_color     87
ip            87
weekday       87
ampm          87
date          87
dtype: int64

# 8 . How many male  customers are Strucutual Engineer?

In [74]:
df[(df['profession']=='Structural Engineer') & (df['gender']=='Male')].count()

prefix        43
first         43
last          43
email         43
gender        43
age           43
company       43
profession    43
phone         43
postal        43
province      43
cc_no         43
cc_exp        43
cc_type       43
price(CAD)    43
fav_color     43
ip            43
weekday       43
ampm          43
date          43
dtype: int64

# 9. Find out the female Structural Engineers from province Alberta (AB)?

In [96]:
df[(df['profession']=='Structural Engineer') & (df['gender']=='Female') & (df['province']=='AB')]

,prefix,first,last,email,gender,age,company,profession,phone,postal,...,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date,cc_str
8858,Dr.,Roy,Stanley,apiunvo@ehasom.ir,Female,39,Cincinnati Financial Corp.,Structural Engineer,(876) 758-2929,N5A 6L2,...,6.300000e+15,02/2022,InstaPayment,31.86,Red,165.249.159.57,Sunday,pm,12/25/1903,6300000000000000
9058,Mr.,Lora,Kennedy,dennap@rabac.se,Female,51,BJ Services Company,Structural Engineer,(305) 786-6959,N3R 4B7,...,2.010000e+14,06/2019,Diners Club United States & Canada,53.29,Black,42.216.243.206,Thursday,pm,06/06/2028,0201000000000000
24736,Mrs.,Nell,Richards,dob@me.ki,Female,18,Telephone & Data Systems Inc,Structural Engineer,(262) 681-5018,N3Y 3G2,...,3.470000e+14,07/2028,American Express,76.28,Blue,91.16.30.156,Wednesday,pm,07/14/1951,0347000000000000
29865,Mrs.,Don,McDaniel,naf@zudu.bj,Female,37,Anadarko Petroleum Corporation,Structural Engineer,(238) 789-2825,B4A 8Q9,...,5.610000e+15,12/2022,Mastercard,62.71,Blue,162.233.117.142,Sunday,pm,11/03/1989,5610000000000000

# 10. What is the max, min and average spending?

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 20 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   prefix      30000 non-null  object
 1   first       30000 non-null  object
 2   last        30000 non-null  object
 3   email       30000 non-null  object
 4   gender      30000 non-null  object
 5   age         30000 non-null  int64
 6   company     30000 non-null  object
 7   profession  30000 non-null  object
 8   phone       30000 non-null  object
 9   postal      30000 non-null  object
 10  province    30000 non-null  object
 11  cc_no       30000 non-null  float64
 12  cc_exp      30000 non-null  object
 13  cc_type     30000 non-null  object
 14  price(CAD)  30000 non-null  float64
 15  fav_color   30000 non-null  object
 16  ip          30000 non-null  object
 17  weekday     30000 non-null  object
 18  ampm        30000 non-null  object
 19  date        30000 non-null  object
dtypes: float64(2), int64(1), object(17)
memory usage: 4.6+ MB

In [82]:
df['price(CAD)'].max()

100.0

In [83]:
df['price(CAD)'].min()

0.0

In [84]:
df['price(CAD)'].mean()

49.990775

# 11. Who did not spend anything? Company wants to send a deal to encourage the customer to buy stuff!

In [85]:
df[df['price(CAD)']==0]

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
5320,Dr.,Bruce,Bryan,ru@pubuspuh.cl,Male,59,Wal-Mart Stores Inc,Engineer Technician,(709) 446-8317,H6H 3Y0,NU,2.010000e+14,04/2024,Bankcard,0.0,White,82.70.62.64,Wednesday,am,12/11/1900
10597,Mrs.,Flora,Clark,wad@me.com,Female,27,MetLife Inc.,Cruise Director,(775) 373-6590,B2U 8K6,NB,3.010000e+13,05/2020,Diners Club Carte Blanche,0.0,Red,231.156.15.63,Thursday,pm,08/22/1904

# 12. As a loyalty reward, company wants to send thanks coupon to those who spent 100CAD or more, please find out the customers?

In [86]:
df[df['price(CAD)'] >=100]

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
76,Mrs.,Gregory,Brown,hav@jek.gs,Female,31,"E*Trade Group, Inc.",Novelist,(625) 537-8923,X3S 4Q2,PE,6.010000e+15,04/2018,Visa,100.0,Green,212.100.18.95,Monday,am,10/23/2063
21093,Mrs.,Cody,Christensen,get@jovu.ag,Male,28,National City Corp.,Hospital Administrator,(261) 737-3292,X0S 1O5,PE,2.010000e+14,03/2024,JCB,100.0,Green,168.48.19.165,Wednesday,pm,03/28/1955
24385,Miss,Lizzie,Dixon,goh@tuwjaz.gd,Female,38,FleetBoston Financial Co.,Compensation Analyst,(989) 239-1752,V8X 9V6,NB,6.300000e+15,07/2019,Bankcard,100.0,Blue,140.87.99.78,Saturday,pm,03/03/1983

# 13. How many emails are associated with this credit card number '5020000000000230'?

In [142]:
df[df['cc_no']==5.020000e+15][['email']].count()

email    1681
dtype: int64

# 14. We need to send new cards to the customers well before the expire, how many cards are expiring in 2019?

In [158]:
df[['cc_exp_month', 'cc_exp_year']] = df['cc_exp'].str.split('/', expand=True)

In [162]:
df[df['cc_exp_year']=='2019'][['cc_exp']].count()

cc_exp    2684
dtype: int64

# 15. How many people use Visa as their Credit Card Provider?

In [169]:
df[df['cc_type']=='Visa'][['cc_type']].count()

cc_type    1721
dtype: int64

# 16. Can you find the customer who spent 100 CAD using Visa?

In [176]:
df[(df['price(CAD)']==100) & (df['cc_type']=='Visa')]

,prefix,first,last,email,gender,age,company,profession,phone,postal,...,price(CAD),fav_color,ip,weekday,ampm,date,cc_str,cc_no_str,cc_exp_month,cc_exp_year
76,Mrs.,Gregory,Brown,hav@jek.gs,Female,31,"E*Trade Group, Inc.",Novelist,(625) 537-8923,X3S 4Q2,...,100.0,Green,212.100.18.95,Monday,am,10/23/2063,6010000000000000,6010000000000000,04,2018

# 17. What are two most common professions?

In [180]:
df['profession'].value_counts().head(2)

profession
Preschool Teacher       112
Distribution Manager    107
Name: count, dtype: int64

# 18. Can you tell the top 5 most popular email providers? (e.g. gmail.com, yahoo.com, etc...)

In [181]:
df.head()

,prefix,first,last,email,gender,age,company,profession,phone,postal,...,price(CAD),fav_color,ip,weekday,ampm,date,cc_str,cc_no_str,cc_exp_month,cc_exp_year
0,Dr.,Ray,Morton,sebvajom@kol.km,Male,38,Medtronic Inc.,Health Therapist,(987) 619-2695,B6V 3W3,...,8.36,Blue,126.23.139.2,Sunday,pm,04/05/1930,5020000000000000,5020000000000000,05,2018
1,Miss,Claudia,Rodriquez,acu@jatsot.ug,Female,51,"Ames Department Stores, Inc.",Health Therapist,(356) 736-7352,G7M 5F3,...,68.31,Black,106.198.76.211,Tuesday,am,12/20/1926,5020000000000000,5020000000000000,07,2028
2,Miss,Harry,Meyer,zuz@lo.wf,Female,51,CSX Corp.,Political Scientist,(539) 246-1806,A0Z 6P9,...,34.65,Black,186.150.187.29,Wednesday,pm,08/20/1931,6300000000000000,6300000000000000,02,2023
3,Miss,Edith,Gilbert,hansohsi@jupec.md,Female,55,Murphy Oil Corporation,Transportation Manager,(984) 962-7494,P9I 9H3,...,64.59,White,80.140.57.161,Saturday,am,06/18/2001,3530000000000000,3530000000000000,02,2028
4,Dr.,Lura,Murphy,webediti@je.st,Female,20,PETsMART Inc,Statistician,(902) 568-9748,S1A 6K0,...,20.83,Yellow,211.103.43.41,Friday,pm,06/14/2045,4030000000000000,4030000000000000,10,2025

In [188]:
df['email_domain'] = df['email'].str.split('@').str[1]

In [190]:
df['email_domain'].value_counts().head()

email_domain
gmail.com      1687
me.com         1676
outlook.com    1664
live.com       1660
hotmail.com    1659
Name: count, dtype: int64

# 19. Is there any customer who is using email with "am.edu"?

In [193]:
df[df['email_domain']=='am.edu']

,prefix,first,last,email,gender,age,company,profession,phone,postal,...,fav_color,ip,weekday,ampm,date,cc_str,cc_no_str,cc_exp_month,cc_exp_year,email_domain
150,Miss,Loretta,Fletcher,barit@am.edu,Female,48,York International Corp,Rehabilitation Counselor,(323) 279-8038,E5X 8L0,...,White,147.57.240.225,Monday,am,11/07/2066,6330000000000000,6330000000000000,05,2021,am.edu

# 20. Which day of the week, the store gets more customers?

In [196]:
df['weekday'].value_counts()

weekday
Saturday     4376
Wednesday    4365
Thursday     4327
Friday       4316
Monday       4216
Sunday       4213
Tuesday      4187
Name: count, dtype: int64